---
import { Icon } from "astro-icon";

const { importedData } = Astro.props;
const { icon, title, href} = importedData;
---
<header class="navbar-header">
    <canvas class="navbar-header-canvas"></canvas>
    <nav class="navbar">
        <div class="navbar-twrapper">
            <span class="navbar-title" id="menuTitle"><Icon name="bi:badge-wc" /></span>
            <span class="navbar-toggle icon" id="menuToggle">
            <Icon name="fad:h-expand" />
        </span>
        </div>
        <ul class="navbar-list" id="menuList">
            {importedData.map((d:any) =>(
                    <li class="navbar-listitem">
                        <a class="navbar-listitem-link" href={d.href}>
                        <Icon class="icon" name={d.icon} />
                        {d.title}
                    </a>
                    </li>
            ))}
        </ul>
    </nav>

</header>
<script>

    let height = window.innerHeight;
    let width = window.innerWidth;
    const canvas = document.querySelector("canvas");
    const nav = document.querySelector("nav");


    const initHeader = () => {
        if(canvas){
        canvas.height = height;
        canvas.width = width;
    }else{
        console.log("Canvas is not found")
    }
    
    }
    initHeader();
    
    const resize = () => {
        width = window.innerWidth;
        height = window.innerHeight;
        if(canvas){

            canvas.width = width;
        canvas.height = height;
        }
    }
    
    const originalHeight = nav.offsetHeight + nav.offsetTop;

    const scroll = () => {
        if(nav){
            if(window.scrollY >= originalHeight){
                // const percentage = window.scrollY/originalHeight;
                const percentage = (((window.scrollY-originalHeight)/nav.offsetHeight*100)-100 >= 0 ) ? 0 : ((window.scrollY-originalHeight)/nav.offsetHeight*100)-100;
                nav.classList.add("top");
                nav.setAttribute("style",`transform:translateY(${percentage}%);`);
            }else{
                const percentage = 0;
                nav.classList.remove("top");
                nav.style.removeProperty("transform");
                //nav.setAttribute("style",`transform:translateY(${percentage}%);`);
            }
        }
    else{

    }
        
    }

    const screenSize = 1024;
    const menuToggle = document.getElementById("menuToggle");
    const menuList = document.getElementById("menuList");

    (() => {
        window.addEventListener('resize', () =>{
            if(window.innerWidth > screenSize) if(menuList?.classList.contains("active-flex")) menuList.classList.remove("active-flex");
        });
        
    })();

    menuToggle?.addEventListener('click',() => { menuList?.classList.toggle("active-flex"); });


    const addEventListeners = () =>{
        window.addEventListener('resize', resize);
        window.addEventListener('scroll', scroll);
    }
    addEventListeners();
</script>
